body {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Black Ops One', cursive, sans-serif;
    letter-spacing: .25rem;
}
.bod {
    display: flex;
    gap: 150px;
    justify-content: center;
    padding-top: 0px;
    flex: 1;
}

.filler {
    flex: 1;
    padding-bottom: 15vh;
}

.scoreboard {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 60px 0px;
    background: repeating-linear-gradient(110deg, rgba(255, 255, 255, 0.144), rgba(255, 255, 255, 0.144) 6%, black 6%, black 12%);
}

.score .who {
    position: absolute;
    top: -190px;
    color: white;
}

a {
    color: rgb(255, 255, 255);
    mix-blend-mode: difference;
    font-size: 16;
    text-decoration: none;
}

.score {
    display: flex;
    flex: 0 1 auto;
    background-color: white;
    justify-content: center;
    align-items: center;
    border: dashed black 15px;
    width: 150px;
    height: 150px;
    color: black;
    font-size: 90px;
    overflow: visible;
    position: relative;
    box-shadow: 0 0 15px 10px rgba(209, 216, 223, 0.24);
}

#ROCK,
#PAPER,
#SCISSORS {
    background-position: center;
}

#SCISSORS {
    background-image: url(./imgs/scissors.png);
}

#PAPER {
    background-image: url(./imgs/paper.png);
}

#ROCK {
    background-image: url(./imgs/rock.png);
}

.title h1 {
    font-size: 70px;
    -webkit-text-stroke: 4px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin-top: 84px;
    margin-bottom: 10px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    font-size: 80px;
}

.btn {
    height: 200px;
    width: 200px;
    border: solid white 3px;
    border-radius: 30px;
    background-color: rgb(17, 17, 17);
    color: rgb(219, 228, 236);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Black Ops One', cursive, sans-serif;
    font-size: 24px;
    transition: ease-out 0.3s;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    box-shadow: 0 0 15px 10px rgba(209, 216, 223, 0.24);
}

.btn:hover {
    background-color: white;
    mix-blend-mode: difference;
    width: 260px;
}

.headerFooter {
    display: flex;
    height: 2vh;
    background-color: white;
    background: repeating-linear-gradient(70deg, white, white 6%, black 6%, black 12%);
}

#footer {
    justify-content: end;
    align-items: center;
}

#header a {
    font-size: 24px;
}