body {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.bod {
    display: flex;
    gap: 150px;
    justify-content: center;
    padding-top: 150px;
}

.title h1 {
    font-size: 70px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title,
.player {
    font-family: 'Black Ops One', cursive, sans-serif;
    letter-spacing: .25rem;
}

.btn {
    height: 170px;
    width: 170px;
    border: solid white 3px;
    border-radius: 30px;
    background-color: rgb(17, 17, 17);
    color: rgb(209, 216, 223);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    box-shadow: 30px rgb(209, 216, 223);
}